.add {
    display: flex;
    margin: 15px;
    width: auto;
    justify-content: flex-start;
    flex-direction: row;
}

.header {
    display: flex;
    margin-left: 100px;
}

.toDo {
    display: flex;
    align-items: center;
    border: 2px solid cornflowerblue;
    width: 1000px;
    margin: 5px;

}

.toDo__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    width: 300px;
}

.toDo__btn {
    padding: 5px 15px;
    display: flex;
    margin-left: 550px;
    background: transparent;
    border: 2px solid cornflowerblue;
    cursor: pointer;
}

.strike {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    width: 300px;
    text-decoration: line-through;
}

.done {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid cornflowerblue;
    width: 1000px;
    margin: 5px;
    text-decoration: line-through;
}

.show-all {
    padding: 5px 15px;
    display: flex;
    background: transparent;
    border: 2px solid cornflowerblue;
    cursor: pointer;
    margin: 5px;
}

.delete {
    padding: 5px 15px;
    display: flex;
    background: transparent;
    border: 2px solid cornflowerblue;
    cursor: pointer;
    margin: 5px;
}
.show-done{
    padding: 5px 15px;
    display: flex;
    background: transparent;
    border: 2px solid cornflowerblue;
    cursor: pointer;
    margin: 5px;
}

.btns {
    display: flex;
    flex-direction: row;
}